@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Domine:wght@400..700&display=swap');

:root {
    --base-color: #ffffff;
    --text-color: black;
     --color-1: #f9f1f1;
    --primary-color: #cea98c;
    --secondary-color: #FF8CBF;
    --color-2:#f3f3f3;
    --color-3:
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: DM Sans, Serif, Arial, Helvetica, sans-serif;
    color: var(--text-color);
}

body {
    padding:1em;
    background-color: var(--base-color);
}

h1, h2, h3 {
    font-family: Domine, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

nav {
    margin: 1em auto 3em auto;
    width: min(1000px, 100%);
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    list-style-type: none;
    gap: 2em;
    font-weight: bold;
    font-size: medium;
}


nav a {
    text-decoration: none;
    color: var(--text-color);
}

nav a:hover {
    text-decoration: underline;
}

header, section {
    margin: 2em auto;
    width: min(75em, 100%);
    background-color: var(--color-1);
    padding: min(2em, 15%);
    border-radius: 1em;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3em;
}

header img {
    max-width: 100%;
    border-radius: 1em;
    object-fit: cover;
    object-position: bottom;
}

.text-container {
    flex: 0 1 34em;
}

h1 {
    font-size: 2.5rem;
}

.text-container p{
    margin: .75em 0 1em 0;
    font-size: 1rem;
}

.cta-button{
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: var(--primary-color);
    padding: .75em 1.25em;
    border-radius: .5em;
    font-weight: 600;
}

.secondary{
    background-color:var(--secondary-color);
}

#about-me{
    padding: 3em min(2em, 15%);
    background-color: var(--color-2);
    text-align: left;
}

section p{
    margin-top: 1em;
    font-size: 1rem;
}

#my-skills li, #my-projects li{
    font-size: 1em;
}

#my-skills{
    padding: 3em min(2em, 15%);
    background-color: var(--color-1);
    text-align: left;
}

#my-projects{
    padding: 3em min(2em, 15%);
    background-color: var(--color-2);
    text-align: left;
}